{
  "embeddedLanguageFormatting": "off",
  "printWidth": 120,
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^react", 
    "^next", 
    "^@htmlplus/",
    "<THIRD_PARTY_MODULES>", 
    "^@/(.*)$",
    "^\\$",
    "^[.](.*)"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins" : [
    "typescript", 
    "jsx", 
    "classProperties", 
    "[\"decorators\", { \"decoratorsBeforeExport\": true }]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}
