* {
  @apply border-main-4;
}

html {
  @apply font-3-400 overflow-y-visible;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:not(:defined) {
  @apply invisible;
}

body ::-webkit-scrollbar {
  @apply bg-transparent w-2 h-2;
}

body ::-webkit-scrollbar-thumb {
  @apply bg-main-4 rounded-[0.25rem];
}

body ::-webkit-scrollbar-track {
  @apply bg-transparent rounded-[0.25rem];
}

a {
  @apply text-primary-9;
}

a,
a:hover {
  text-decoration: none;
}

plus-app-progress-bar.main::part(bar) {
  @apply bg-primary-9;
}

plus-avatar img {
  margin: 0 !important;
}

plus-divider:not([color]) {
  --plus-divider-color: theme('colors.main.10');
}

.preview * {
  all: revert-layer;
}

plus-prism::part(pre) {
  @apply p-[0.85em] text-[0.85rem];
}

//////////////////////////////////////////////////////////////

.button {
  &:not(.icon):not(.link):not(.link-underline) {
    @apply rounded-[4px] inline-flex items-center justify-center px-[8px] py-[4px] gap-[4px];
  }
  &.block {
    display: flex !important;
  }
  &.outlined {
    @apply bg-transparent border border-solid border-main-8 text-main-10;
  }
  &:not(.link-underline) {
    @apply no-underline;
  }
}

.home {
  p {
    @apply font-4-400 text-alpha-black-7;
  }

  a {
    @apply text-main-11 font-3-500;
    text-decoration: none;
  }

  a.btn,
  button {
    @apply font-3-500;
    height: 36px;
    justify-content: center;
    border: none;
    padding: 0 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 9px;
    border: 1px solid transparent;
    &:focus {
      outline: none;
    }
    &.primary {
      @apply bg-main-12 shadow-custom;
      color: #fff;
      &:hover {
        opacity: 0.9;
      }
      &:focus {
        box-shadow: 0px 0px 0px 3px #be93e43d;
      }
    }
    &.secondary {
      @apply text-alpha-black-7 shadow-custom;
      background: #fff;
      &:hover {
        @apply text-alpha-black-12;
      }
      &:focus {
        color: #000;
        border: 1px solid #d3b4ed;
        box-shadow: 0px 0px 0px 3px #be93e43d;
      }
    }
    &.tertiary {
      @apply bg-alpha-black-2 text-alpha-black-7;
      &:hover {
        @apply bg-alpha-black-3 text-alpha-black-12;
      }
      &:focus {
        @apply bg-alpha-black-3;
        border: 1px solid #d3b4ed;
        box-shadow: 0px 0px 0px 3px #be93e43d;
      }
    }
  }

  header {
    a {
      @apply text-alpha-black-7;
    }
  }

  .main::before {
    @apply bg-main-2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: calc(100% + 4rem);
    clip-path: polygon(0 0%, 100% 0%, 100% 82%, 0% 100%);
    z-index: -1;
  }
}
