:root {
  --plus-color-alpha-black-1: theme('colors.alpha.black-1');
  --plus-color-alpha-black-2: theme('colors.alpha.black-2');
  --plus-color-alpha-black-3: theme('colors.alpha.black-3');
  --plus-color-alpha-black-4: theme('colors.alpha.black-4');
  --plus-color-alpha-black-6: theme('colors.alpha.black-6');
  --plus-color-alpha-black-7: theme('colors.alpha.black-7');
  --plus-color-alpha-black-8: theme('colors.alpha.black-8');
  --plus-color-alpha-black-9: theme('colors.alpha.black-9');
  --plus-color-alpha-black-10: theme('colors.alpha.black-10');
  --plus-color-alpha-black-11: theme('colors.alpha.black-11');
  --plus-color-alpha-black-12: theme('colors.alpha.black-12');

  --plus-color-main-1: theme('colors.main.1');
  --plus-color-main-2: theme('colors.main.2');
  --plus-color-main-3: theme('colors.main.3');
  --plus-color-main-4: theme('colors.main.4');
  --plus-color-main-5: theme('colors.main.5');
  --plus-color-main-6: theme('colors.main.6');
  --plus-color-main-7: theme('colors.main.7');
  --plus-color-main-8: theme('colors.main.8');
  --plus-color-main-9: theme('colors.main.9');
  --plus-color-main-10: theme('colors.main.10');
  --plus-color-main-11: theme('colors.main.11');
  --plus-color-main-12: theme('colors.main.12');

  --plus-color-primary-1: theme('colors.primary.1');
  --plus-color-primary-2: theme('colors.primary.2');
  --plus-color-primary-3: theme('colors.primary.3');
  --plus-color-primary-4: theme('colors.primary.4');
  --plus-color-primary-5: theme('colors.primary.5');
  --plus-color-primary-6: theme('colors.primary.6');
  --plus-color-primary-7: theme('colors.primary.7');
  --plus-color-primary-8: theme('colors.primary.8');
  --plus-color-primary-9: theme('colors.primary.9');
  --plus-color-primary-10: theme('colors.primary.10');
  --plus-color-primary-11: theme('colors.primary.11');
  --plus-color-primary-12: theme('colors.primary.12');
}

* {
  @apply border-main-4;
}

html {
  @apply font-3-400 overflow-y-visible;
  line-height: 1.625em; // TODO
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:not(:defined) {
  @apply invisible;
}

body ::-webkit-scrollbar {
  @apply bg-transparent w-2 h-2;
}

body ::-webkit-scrollbar-thumb {
  @apply bg-main-4 rounded-[0.25rem];
}

body ::-webkit-scrollbar-track {
  @apply bg-transparent rounded-[0.25rem];
}

a {
  @apply text-primary-9;
}

a,
a:hover {
  text-decoration: none;
}

plus-avatar img {
  margin: 0 !important;
}

.preview * {
  all: revert-layer;
}

plus-prism::part(pre) {
  @apply p-[0.85em] text-[0.85rem];
}

//////////////////////////////////////////////////////////////

.button {
  &:not(.icon):not(.link):not(.link-underline) {
    @apply rounded-[4px] inline-flex items-center justify-center px-[8px] py-[4px] gap-[4px];
  }
  &.block {
    display: flex !important;
  }
  &.outlined {
    @apply bg-transparent border border-solid border-main-8 text-main-10;
  }
  &:not(.link-underline) {
    @apply no-underline;
  }
}

.home {
  p {
    @apply font-4-400 text-alpha-black-7;
  }

  a {
    @apply text-main-11 font-3-500;
    text-decoration: none;
  }

  a.btn,
  button {
    @apply font-3-500;
    height: 36px;
    justify-content: center;
    border: none;
    padding: 0 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 9px;
    border: 1px solid transparent;
    &:focus {
      outline: none;
    }
    &.primary {
      @apply bg-main-12 shadow-custom;
      color: #fff;
      &:hover {
        opacity: 0.9;
      }
      &:focus {
        box-shadow: 0px 0px 0px 3px #be93e43d;
      }
    }
    &.secondary {
      @apply text-alpha-black-7 shadow-custom;
      background: #fff;
      &:hover {
        @apply text-alpha-black-12;
      }
      &:focus {
        color: #000;
        border: 1px solid #d3b4ed;
        box-shadow: 0px 0px 0px 3px #be93e43d;
      }
    }
    &.tertiary {
      @apply bg-alpha-black-2 text-alpha-black-7;
      &:hover {
        @apply bg-alpha-black-3 text-alpha-black-12;
      }
      &:focus {
        @apply bg-alpha-black-3;
        border: 1px solid #d3b4ed;
        box-shadow: 0px 0px 0px 3px #be93e43d;
      }
    }
  }

  header {
    a {
      @apply text-alpha-black-7;
    }
  }

  .main::before {
    @apply bg-main-2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: calc(100% + 4rem);
    clip-path: polygon(0 0%, 100% 0%, 100% 82%, 0% 100%);
    z-index: -1;
  }
}
