$box-shadow:
  0px 1px 1px 0px #0000001f,
  0px 0px 4px 0px #0000000a,
  0px 4px 8px 0px #00000014;

%font-2-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.006em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%font-2-500 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.006em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%font-5-500 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.017em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%font-3-400 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.013em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%font-3-500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.013em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%font-4-400 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%font-8-600 {
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.022em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%font-9-600 {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.022em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.home {
  @extend %font-3-400;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    margin: 0;
    padding: 0;
    border: 0;
  }

  h1 {
    @extend %font-9-600;
  }

  p {
    @extend %font-4-400;
    @apply text-alpha-black-7;
  }

  a,
  a:hover {
    text-decoration: none;
  }

  a {
    @apply text-main-11;
    @extend %font-3-500;
    text-decoration: none;
  }

  a.btn,
  button {
    @extend %font-3-500;
    height: 36px;
    justify-content: center;
    border: none;
    padding: 0 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 9px;
    border: 1px solid transparent;
    &:focus {
      outline: none;
    }
    &.primary {
      @apply bg-main-12;
      color: #fff;
      box-shadow: $box-shadow;
      &:hover {
        opacity: 0.9;
      }
      &:focus {
        box-shadow: 0px 0px 0px 3px #be93e43d;
      }
    }
    &.secondary {
      @apply text-alpha-black-7;
      background: #fff;
      box-shadow: $box-shadow;
      &:hover {
        @apply text-alpha-black-12;
      }
      &:focus {
        color: #000;
        border: 1px solid #d3b4ed;
        box-shadow: 0px 0px 0px 3px #be93e43d;
      }
    }
    &.tertiary {
      @apply bg-alpha-black-2 text-alpha-black-7;
      &:hover {
        @apply bg-alpha-black-3 text-alpha-black-12;
      }
      &:focus {
        @apply bg-alpha-black-3;
        border: 1px solid #d3b4ed;
        box-shadow: 0px 0px 0px 3px #be93e43d;
      }
    }
  }

  header {
    a {
      @apply text-alpha-black-7;
    }
  }

  .main::before {
    @apply bg-main-2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: calc(100% + 4rem);
    clip-path: polygon(0 0%, 100% 0%, 100% 82%, 0% 100%);
    z-index: -1;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 2rem;
    width: 100%;
  }

  .badge {
    @extend %font-2-500;
  }

  .badge-group {
    @extend %font-2-500;
    padding: 4px;
    box-shadow: $box-shadow;
  }

  .feature {
    .title {
      @extend %font-5-500;
    }

    .description {
      @extend %font-3-400;
    }

    .metric {
      @extend %font-9-600;
    }
  }

  .divider {
    @apply bg-alpha-black-4;
    min-width: 1px;
    min-height: 1px;
    align-self: stretch;
  }

  .framework {
    div {
      h3 {
        @extend %font-8-600;
      }

      p {
        @extend %font-4-400;
      }
    }
  }
}
