@layer base {
	.markdown {
		img {
			margin-bottom: 0.8125rem;
		}

		h1 {
			margin-top: 2.4375rem;
			margin-bottom: 1.21875rem;
			padding-bottom: calc(0.40625rem - 1px);
			font-weight: 600;
			text-rendering: optimizeLegibility;
			font-size: 2rem;
			line-height: 2.4375rem;
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

		h2 {
			margin-top: 1.625rem;
			margin-bottom: 0.40625rem;
			padding-bottom: calc(0.40625rem - 1px);
			font-weight: 600;
			text-rendering: optimizeLegibility;
			font-size: 1.51572rem;
			line-height: 2.4375rem;
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

		h3 {
			margin-bottom: 0.8125rem;
			margin-top: 1.625rem;
			font-weight: 600;
			text-rendering: optimizeLegibility;
			font-size: 1.31951rem;
			line-height: 1.625rem;
		}

		h4,
		h5 {
			margin-top: 1.625rem;
			margin-bottom: 0.8125rem;
			font-weight: 600;
			text-rendering: optimizeLegibility;
			line-height: 1.625rem;
		}

		h4 {
			font-size: 1rem;
		}

		h5 {
			font-size: 0.87055rem;
		}

		h6 {
			margin-top: 1.625rem;
			margin-bottom: 0.8125rem;
			font-weight: 600;
			text-rendering: optimizeLegibility;
			font-size: 0.81225rem;
			line-height: 1.625rem;
		}

		ul,
		ol {
			margin-left: 2.03125rem;
			margin-bottom: 0.8125rem;
			list-style-position: outside;
			list-style-image: none;
		}

		li {
			margin-bottom: calc(0.8125rem / 2);
		}

		li > ul,
		li > ol {
			margin-left: 2.03125rem;
			margin-bottom: calc(0.8125rem / 2);
			margin-top: calc(0.8125rem / 2);
		}

		blockquote {
			padding-left: calc(0.8125rem - 1px);
			margin-bottom: 0.8125rem;
			border-left-width: 4px;
			border-left-style: solid;
		}

		p,
		figure,
		pre,
		table,
		form,
		fieldset,
		noscript,
		iframe,
		address,
		hr {
			margin-bottom: 0.8125rem;
		}

		pre {
			font-size: 0.85rem;
			line-height: 1.42;
			border-radius: 3px;
			overflow: auto;
			padding: 0.8125rem;
		}

		code,
		kbd,
		samp {
			font-family: Consolas, "Roboto Mono", "Liberation Mono", Menlo, Courier, monospace;
			font-size: 0.85rem;
			line-height: 1.625rem;
			border-radius: 3px;
			padding-top: 0.2em;
			padding-bottom: 0.2em;
		}

		pre code {
			background: none;
			line-height: 1.42;
		}

		code:before,
		code:after,
		tt:before,
		tt:after {
			letter-spacing: -0.2em;
			content: "\u00a0";
		}

		pre code:before,
		pre code:after,
		pre tt:before,
		pre tt:after {
			content: "";
		}

		table {
			font-size: 1rem;
			line-height: 1.625rem;
			border-collapse: collapse;
			width: 100%;
		}

		th,
		td {
			text-align: left;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			font-feature-settings: tnum;
			padding-left: 1.08333rem;
			padding-right: 1.08333rem;
			padding-top: 0.8125rem;
			padding-bottom: calc(0.8125rem - 1px);
		}

		th:first-child,
		td:first-child {
			padding-left: 0;
		}

		th:last-child,
		td:last-child {
			padding-right: 0;
		}

		abbr,
		acronym {
			border-bottom-width: 1px;
			border-bottom-style: dotted;
			cursor: help;
		}

		abbr[title] {
			text-decoration: none;
		}

		a {
			text-decoration: none;
		}

		a:hover,
		a:active {
			text-decoration: underline;
		}
	}
}
